<a href="https://colab.research.google.com/github/wesleyls4antos/python/blob/main/tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
tp_frutas = ('maçã', 'banana', 'laranja', 'goiaba')
tp_frutas

('maçã', 'banana', 'laranja', 'goiaba')

In [4]:
lst_frutas = list(tp_frutas)
type(lst_frutas)
tp_frutas2 = tuple(lst_frutas)
type(tp_frutas)

tuple

In [6]:

tp_meses = ('jan', 'fev', 'mar', 'abr', 'mai', 'jun', 'jul', 'ago', 'set', 'out', 'nov', 'dez')
tp_meses[3:6]

('abr', 'mai', 'jun')

In [7]:
uf_cod = [('PE', 81), ('RJ', 21), ('SP', 11), ('PB', 83)]

sorted(uf_cod, key = lambda x : x[1])

[('SP', 11), ('RJ', 21), ('PE', 81), ('PB', 83)]

In [8]:
nome_nasc = [('Zé,', 2003),('Maria', 1998),('Alice', 2000)]
sorted(nome_nasc, key = lambda x: x[1], reverse = True)

[('Zé,', 2003), ('Alice', 2000), ('Maria', 1998)]

In [9]:
def nome_idade_uf():
  nome = "Wesley"
  idade = 28
  uf = 'RN'
  return nome, idade, uf

name, age, uf = nome_idade_uf()

print(name, age, uf)

Wesley 28 RN

In [13]:
alunos = ('Kelly', 'Adauto', 'Marceline', 'Luana', 'Henrique')
notas = (5.5, 8, 9, 7.5, 6.5)

Av1 = tuple(zip(alunos, notas))

Av1

(('Kelly', 5.5),
 ('Adauto', 8),
 ('Marceline', 9),
 ('Luana', 7.5),
 ('Henrique', 6.5))

In [18]:
def concatenaTupla(tp1, tp2):
   return tp1 + tp2
  
a = (2, 4, 5)
b = (6, 8, 12)
concatenaTupla(a, b)

(2, 4, 5, 6, 8, 12)

In [19]:
def formatada(tupla):
  nome, logradouro, num, bairro = tupla
  return f'Nome:{nome}, residente a {logradouro}, {num}, {bairro}.'

dadosCliente = ('Wesley', 'Rua iaia paiva', '67', 'Torre')

print (formatada(dadosCliente))

Nome:Wesley, residente a Rua iaia paiva, 67, Torre.

In [15]:
nome_idade = [('Zé,', 18),('Maria', 19),('Alice', 20)]
sorted(nome_idade, key = lambda x: x[1])

[('Zé,', 18), ('Maria', 19), ('Alice', 20)]